﻿@{
    ViewData["Title"] = "Success";
}

<h3>Enquiry submitted</h3>
<hr />

<div class="col-md-6">
    <div class="row">Thanks for submitting an enquiry.</div>
    <div class="row">A colleague will get back to you shortly.</div>
    <div class="row">Meanwhile, please feel free to enquire about any other property.</div>        
</div>

<hr />

<div class="col-md-6">
    <div class="row">
        <a asp-action="Index" asp-controller="Properties">Back to Properties</a>
    </div>
</div>